@font-face {
    font-family: "Press Start 2P";
    src: url('../assets/fonts/PressStart2P.eot');
    src: url('../assets/fonts/PressStart2P.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/PressStart2P.svg#Press Start 2P') format('svg'),
    url('../assets/fonts/PressStart2P.woff') format('woff'),
    url('../assets/fonts/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  background: #444;
  font-family: "Press Start 2P";
  direction: ltr;
  width:100%;
  height:100%;
}


.conteneur{
  position: absolute;
  width: 500px;
  height: 800px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -400px;
  text-align: center;
  perspective : 500px;
   /*display: table-cell;
  vertical-align: middle;*/
}

#main{
  height: 100%;
}

.chiffre, .unit{
  position: absolute;
}



.min.chiffre{
  top: 280px;
  left: 146px;
  transform : rotateY(63deg);
}

.min.unit{
  top:269px;
  left: 245px;
  transform: rotateY(-58deg);
}

.sec.chiffre{
  top: 380px;
  left: 146px;
  transform: rotateY(-46deg) rotateZ(11deg);
}

.sec.unit{
  top:370px;
  left: 245px;
  transform: rotateY(-59deg) rotateZ(-11deg);

}

.chiffre{
  font-size: 35px;
}

.unit{
  font-size: 43px;
}

.jaune_clair{
  color:#fff468;
}

.jaune_fonce{
  color: #fff200;
}

.marquee_1{
  color: #707070;  
  width: 186px;
  bottom: 38px;
  position: absolute;
  left: 52px;
  height: 54px;
  line-height: 54px;
  transform: rotateY(-33deg);
}

.marquee_2{  
  color: #707070;  
  width: 186px;
  bottom: 38px;
  position: absolute;
  left: 207px;
  height: 54px;
  line-height: 54px;
  transform: rotateY(35deg);
}