@font-face {
    font-family: "Press Start 2P";
    src: url('../assets/fonts/PressStart2P.eot');
    src: url('../assets/fonts/PressStart2P.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/PressStart2P.svg#Press Start 2P') format('svg'),
    url('../assets/fonts/PressStart2P.woff') format('woff'),
    url('../assets/fonts/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
  margin: 0;
  width: 100%;
  height: 100%; 
}

body{
  background: #444;
  background: linear-gradient(to bottom, #444 0%, #4F4F4F 100%);  
  font-family: "Press Start 2P";
  direction: ltr;
  overflow: hidden;
  
}

.footer{
  position: absolute;  
  display: none; /* TO REMOVE OR NOT :) */ 
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 170px;
  background-image: url('../assets/images/img_headerbanner.png');
  background-repeat: no-repeat;
  background-position: center; 
}
.footer::before, .footer::after{
  content: '';
  background: #464646;
  position: absolute;
  bottom : -55px;  
  width: 50%;
  height: 170px;
}
.footer::before{
  left: -375px;
}
.footer::after{
  right: -375px;
}


.bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../assets/images/fond_technos_800.png);
  opacity: 0.1;
  
}

.conteneur{
  position: absolute;
  width: 500px;
  height: 800px;

  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -400px;
  text-align: center;
  perspective : 500px;
}

.conteneur::before{
  content: '';
  background: #4F4F4F;
  width: 900px;
  height: 900px;
  position: absolute;
  border-radius: 450px;
  top: -71px;
  left: 50%;
  margin-left: -450px;
  box-shadow: 0px 0px 10px 10px #444 inset;
}

#main{
  height: 100%;
  position: relative;
}

.chiffre, .unit{
  position: absolute;
}



.min.chiffre{
  top: 280px;
  left: 132px;
  transform : rotateY(73deg);
}

.min.unit{
  top: 286px;
  left: 241px;
  transform: rotateY(-47deg) rotateZ(-11deg) rotateX(11deg);
}

.sec.chiffre{
  top: 415px;
  left: 133px;
  transform: rotateY(73deg) rotateZ(14deg) rotateX(4deg);
}

.sec.unit{
  top: 421px;
  left: 241px;
  transform: rotateY(47deg) rotateZ(-12deg) rotateX(-7deg);
}

.chiffre{
  font-size: 50px;
}

.unit{
  font-size: 43px;
}

.jaune_clair{
  color:#fff468;
}

.jaune_fonce{
  color: #fff200;
}

.marquee_1{
  color: #707070;  
  width: 181px;
  bottom: 38px;
  position: absolute;
  left: 56px;
  height: 54px;
  line-height: 54px;
  transform: rotateY(-33deg);
}

.marquee_2{  
  color: #707070;  
  width: 181px;
  bottom: 38px;
  position: absolute;
  left: 207px;
  height: 54px;
  line-height: 54px;
  transform: rotateY(35deg);
  
}

#opacity{
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 5s;
}

#opacity.black{
  opacity: 1;
}

#devfestnantes{
  position: absolute;
  background: #EFEFEF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s;
  color:black;
}

#devfestnantes.show{
  opacity: 1;
}

#devfestnantes.hide{
  opacity: 0;
  transition: opacity 0.5s;
}

#devfestnantes .title{
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 4em;
  width: 100%;
  text-align: center;
}

#devfestnantes img#logo-technos{
  position: absolute;
  top: 50%;
  margin-top: -469px;
  left: -150px;
}

#devfestnantes img#tour-bretagne{
  position: absolute;
  top: 50%;
  height: 900px;
  margin-top: -450px;
  right: 100px;
}

.green{
  color : #93C47D;
}

#fakemouse{
  position: absolute;
  bottom: -200px;
  left: -200px;
  background: url(../assets/images/fakemouse.png) no-repeat;
  width: 50px;
  height: 66px;
  background-size:50px 66px;
  transition-property: bottom, left;
  transition-duration: 2s,2s;
}

#iovideo{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-duration: 0.5s;
}

#iovideo.show{
  opacity: 1;
}


/*
*  MATERIAL DESIGN
*
*/

.clicked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
/*
.option-input.radio { border-radius: 50%; }

.option-input.radio::after { border-radius: 50%; }*/

@-webkit-keyframes click-wave { 
  0% {
   width: 40px;
   height: 40px;
   opacity: 0.35;
   position: relative;
  }
   100% {
   width: 200px;
   height: 200px;
   margin-left: -80px;
   margin-top: -80px;
   opacity: 0.0;
  }
}

@keyframes click-wave { 
  0% {
   width: 40px;
   height: 40px;
   opacity: 0.35;
   position: relative;
  }
 100% {
   width: 200px;
   height: 200px;
   margin-left: -80px;
   margin-top: -80px;
   opacity: 0.0;
  }
}